In [15]:
#Importing necessary libraries
import pandas as pd

In [21]:
#Sample data frame

student_data= {
    'Roll Number':[10,11,12,13],
    'Student_name':['Neha','Kirti','Deepika','Suhana'],
    'Math':[85,90,95,80],
    'English':[88,92,85,80],
    'Punjabi':[90,85,88,92],
    'Hindi':[80,85,90,95],
    
}

#Creating a DataFrame from the dictionary
df=pd.DataFrame(student_data)

print(df)#Printing the DataFrame

   Roll Number Student_name  Math  English  Punjabi  Hindi
0           10         Neha    85       88       90     80
1           11        Kirti    90       92       85     85
2           12      Deepika    95       85       88     90
3           13       Suhana    80       80       92     95

In [22]:
#Saving the DataFrame to a CSV file

df.to_csv('stu_data.csv',index=False)

In [23]:
#Reading the csv file

df = pd.read_csv('stu_data.csv')

In [24]:
#Printing the DataFrame after reading from the CSV file
print(df)

   Roll Number Student_name  Math  English  Punjabi  Hindi
0           10         Neha    85       88       90     80
1           11        Kirti    90       92       85     85
2           12      Deepika    95       85       88     90
3           13       Suhana    80       80       92     95

In [27]:
#Drop the 'Roll Number','Math' columns from the dataframe

df_new=df.drop(columns=['Roll Number','Math'])
print(df_new)    #Printing the DataFrame after dropping the columns

  Student_name  English  Punjabi  Hindi
0         Neha       88       90     80
1        Kirti       92       85     85
2      Deepika       85       88     90
3       Suhana       80       92     95