In [1]:
import sqlite3 as sql

In [2]:
#Create a Connection with a database 
conn=sql.connect('neha.db')

In [3]:
#create a cursor object using the connection -allows us to go through the records
cursor=conn.cursor()

In [ ]:
cursor.execute('''
CREATE TABLE people(
    id INTEGER PRIMARY KAY,
    name TEXT NOT NULL,
    age INTEGER,
    city TEXT
);
''')                                           )

SyntaxError: unmatched ')' (2089868784.py, line 8)

In [5]:
conn.commit()    #save the changes

In [7]:
cursor.execute(''' 
CREATE TABLE people(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    city TEXT
                              );
               ''')

In [ ]:
conn.commit() # save the changes

In [19]:
cursor.execute(''' 
INSERT INTO people(name,age,city)VALUES('Kirti',19,'Ambala');''')

In [23]:
cursor.execute('''
INSERT INTO people(name,age,city)VALUES('Deepika',19,'Delhi'); ''')

In [20]:
cursor.execute('''
INSERT INTO people(name,age,city)VALUES('Riya',15,'Naraingarh'); ''')

In [24]:
cursor.execute('''
                SELECT * FROM people;
               ''')
results=cursor.fetchall() #fetch all the records

In [25]:
import pandas as pd
df=pd.DataFrame(results)
df

   0        1   2           3
0  1    Kirti  19      Ambala
1  2     Riya  15  Naraingarh
2  3    Kirti  19      Ambala
3  4     Riya  15  Naraingarh
4  5  Deepika  19       Delhi

In [26]:
#close the connection
conn.close()

In [27]:
#mySQL connect

import mysql.connector

connection=mysql.connector.connect(
    host='root',
    user='neha',
    password='Neha@123',
    database='neha'
);

cursor=connection.cursor()

DatabaseError: 2005 (HY000): Unknown MySQL server host 'root' (11001)