openweathermap

In [13]:
api_key="73df9e78d12fefeba0c431db1e5dd0c3"

In [14]:
import requests #import requests library
import pandas as pd  #import pandas library

In [15]:
city=input("Enter the city name: ") #prompt user for city name
city #print the city name

'London'

In [16]:
url=f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=matric" #create url with city name and api key
url  #print the url

'https://api.openweathermap.org/data/2.5/weather?q=London&appid=73df9e78d12fefeba0c431db1e5dd0c3&units=matric'

In [17]:
response=requests.get(url) #get the response from the url
print(response.status_code) #print the status code of the response


if response.status_code==200: #if the status code is 200, the request was successful
    data=response.json() #convert the response to json format
else:
    print("City not found.Please check the name and try again.") #check else the city was not found print this message
    exit()     #exit the program

200

In [18]:
#Extracting the relevent data from the response

main_data=data['main'] #get the main data from the response
temperature=main_data['temp'] #get the temperature from the main data
pressure=main_data['pressure'] #get the pressure from the main data
humidity=main_data['humidity'] #get the humidity from the main data
timestamp=data['dt'] #get the timestamp from the response

In [19]:
#Convert timestamp to datetime format

import datetime #import datetime library
dt_object=datetime.datetime.fromtimestamp(timestamp) #convert the timestamp to datetime format.
print("City:",city) #print the city name
print("Date and Time: ",dt_object.strftime("%Y-%M-%D %h:%M%S")) #print the date and time in the specified format 
print(f"Temperature:{temperature}°C") #print the temperature in celsius
print(f"Humidity:{humidity}%") #print the humidity in percentage

City: London
Date and Time:  2025-50-04/27/25 Apr:5047
Temperature:292.45°C
Humidity:50%

In [20]:
weather_data={
    'City':city,
    'Date and Time':dt_object.strftime("%Y-%M-%D %H:%M:%S"),
}

In [21]:
df1=pd.DataFrame([weather_data]) #create a dataframe from the weather data
df1

     City              Date and Time
0  London  2025-50-04/27/25 16:50:47

In [26]:
# if you get data of 6 cities at once,what will you do?

# Use a for loop to iterate over a list of cities and store the data in a list of dictionaries
cities=["London","USA","Ambala","Delhi","Chandigarh","Naraingarh"]

weather_data_list=[]

for city in cities:
    url=f"https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric" #create url with city name and api key
    response=requests.get(url)
    print(response.status_code)

    if response.status_code==200:
        data=response.json()
    
    else:
        print("City not found.Please check the name and try again.")
        exit()
        #Extracting the relevent data from the response

    main_data=data['main'] #get the main data from the response
    temperature=main_data['temp'] #get the temperature from the main data
    pressure=main_data['pressure'] #get the pressure from the main data
    humidity=main_data['humidity'] #get the humidity from the main data
    timestamp=data['dt'] #get the timestamp from the response  

#Convert timestamp to datetime format

    import datetime #import datetime library
    dt_object=datetime.datetime.fromtimestamp(timestamp) #convert the timestamp to datetime format.
    print("City:",city) #print the city name
    print("Date and Time: ",dt_object.strftime("%Y-%M-%D %h:%M%S")) #print the date and time in the specified format 
    print(f"Temperature:{temperature}°C") #print the temperature in celsius
    print(f"Humidity:{humidity}%") #print the humidity in percentage    
    weather_data = {
        'City': city,
        'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
        'Temperature (°C)': temperature,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity
    }
    weather_data_list.append(weather_data)

df = pd.DataFrame(weather_data_list)
df

200
City: London
Date and Time:  2025-48-04/27/25 Apr:4804
Temperature:19.3°C
Humidity:50%
200
City: USA
Date and Time:  2025-54-04/27/25 Apr:5422
Temperature:24.72°C
Humidity:65%
200
City: Ambala
Date and Time:  2025-53-04/27/25 Apr:5315
Temperature:41.05°C
Humidity:4%
200
City: Delhi
Date and Time:  2025-48-04/27/25 Apr:4842
Temperature:39.05°C
Humidity:8%
200
City: Chandigarh
Date and Time:  2025-50-04/27/25 Apr:5025
Temperature:40.39°C
Humidity:4%
200
City: Naraingarh
Date and Time:  2025-56-04/27/25 Apr:5617
Temperature:40.68°C
Humidity:4%

,City,Date and Time,Temperature (°C),Pressure (hPa),Humidity (%)
0,London,2025-04-27 16:48:04,19.30,1026,50
1,USA,2025-04-27 16:54:22,24.72,1012,65
2,Ambala,2025-04-27 16:53:15,41.05,1002,4
3,Delhi,2025-04-27 16:48:42,39.05,1002,8
4,Chandigarh,2025-04-27 16:50:25,40.39,1002,4
5,Naraingarh,2025-04-27 16:56:17,40.68,1002,4

In [27]:
data

{'coord': {'lon': 77.1243, 'lat': 30.4724},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 40.68,
  'feels_like': 36.73,
  'temp_min': 40.68,
  'temp_max': 40.68,
  'pressure': 1002,
  'humidity': 4,
  'sea_level': 1002,
  'grnd_level': 963},
 'visibility': 10000,
 'wind': {'speed': 5.06, 'deg': 270, 'gust': 3.52},
 'clouds': {'all': 0},
 'dt': 1745753177,
 'sys': {'country': 'IN', 'sunrise': 1745712702, 'sunset': 1745760380},
 'timezone': 19800,
 'id': 1278860,
 'name': 'Naraingarh',
 'cod': 200}